@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto&display=swap");
.texto__comun {
  font-family: 'Poppins', sans-serif;
  color: #3D3D3D;
  letter-spacing: 3px;
  word-spacing: 3px; }

.texto__resaltado {
  font-family: 'Roboto', sans-serif;
  color: #3D3D3D;
  letter-spacing: 3px;
  word-spacing: 3px; }

nav div {
  margin-top: 15px;
  margin-bottom: 15px; }

.index__boton {
  width: fit-content;
  padding: 10px;
  background-color: #83b8c9;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #F3F5F6;
  border-style: outset; }

* {
  margin: 0;
  padding: 0; }

nav {
  background-color: #F3F5F6; }

.nav__H1 {
  font-family: Roboto, sans-serif;
  color: #838e83;
  font-size: 60px;
  letter-spacing: 8px;
  padding: 30px;
  text-decoration: none; }
  .nav__H1:hover {
    color: #3D3D3D; }
  @media only screen and (max-width: 400px) {
    .nav__H1 {
      font-size: 40px;
      padding: 20px; } }

.nav-item {
  margin-left: 10px;
  margin-right: 10px; }
  .nav-item .nav-link {
    text-decoration: none;
    color: #838e83;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 6px; }
    .nav-item .nav-link :hover {
      color: black; }

.active {
  text-decoration: none;
  color: #838e83;
  font-family: 'Roboto', sans-serif;
  height: auto;
  font-weight: 500;
  border: solid #838e83;
  letter-spacing: 6px; }
  .active a {
    text-decoration: none;
    color: #838e83; }

body {
  min-height: 100vh; }

.texto__comun {
  font-family: 'Poppins', sans-serif;
  color: #3D3D3D;
  letter-spacing: 3px;
  word-spacing: 3px; }

.texto__resaltado {
  font-family: 'Roboto', sans-serif;
  color: #3D3D3D;
  letter-spacing: 3px;
  word-spacing: 3px; }

main {
  background-color: white;
  margin-bottom: 10%; }

.main__ {
  margin-bottom: 0px; }

footer {
  background-color: #838e83;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; }
  footer h5 {
    color: black;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif;
    word-spacing: 4px; }
  footer .footer__logoinstagram {
    height: 30px;
    margin: 10px; }

.contacto__main {
  background-image: url(../multimedia/fondo-contacto.jpg);
  background-size: auto;
  margin-bottom: 0px;
  height: 100vh; }

.contacto__container__padre {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .contacto__container__padre .contacto__container__hijo {
    background-color: #EBD8D0;
    width: 60%;
    padding: 30px;
    margin-top: 50px; }
    .contacto__container__padre .contacto__container__hijo div {
      padding-top: 10px; }
      .contacto__container__padre .contacto__container__hijo div h4 {
        text-align: center;
        padding: 10px; }

.home__container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px; }

.home__img-flex {
  width: 25%;
  margin: 10px; }

.musas {
  background-image: url(../multimedia/musas-inspiradoras.jpg);
  justify-content: space-evenly;
  margin-top: 80px; }
  .musas .row {
    justify-content: space-evenly; }
  .musas h4 {
    font-family: 'Reenie Beanie';
    text-align: center;
    padding: 20px;
    font-size: 100px; }
    @media only screen and (max-width: 400px) {
      .musas h4 {
        font-size: 60px; } }

.card {
  display: flex;
  padding: 20px;
  width: 20%;
  margin-bottom: 30px; }

.grilla {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 250px 400px 250px 250px;
  gap: 30px;
  justify-content: center;
  height: 100%; }

.grilla__item {
  display: flex;
  padding: 10px;
  justify-content: center; }
  .grilla__item :hover {
    transform: scale(1.3);
    transition: 0.8s; }

.item1 {
  grid-row: span 2; }

.item5 {
  grid-column: span 2; }

@media only screen and (max-width: 400px) {
  .grilla {
    display: block; }
  .grilla__item img {
    height: 300px; }
  header {
    width: 100vw; }
  footer {
    width: 100vw; } }

.index__H1 {
  position: fixed;
  left: 80px;
  top: 10px;
  font-family: 'Roboto', sans-serif;
  color: #EBD8D0;
  font-size: 150px;
  letter-spacing: 55px;
  text-align: center;
  z-index: 10; }

.index__boton {
  font-size: 40px;
  position: fixed;
  right: 100px;
  top: 300px; }
  .index__boton:hover {
    transform: scale(1.1);
    transition: 1s;
    color: #F3F5F6; }

.index__body {
  margin-bottom: 0px; }

@media screen and (min-width: 720px) {
  .index-movile {
    display: none; } }

.carrousel__backround {
  background-color: #EBD8D0;
  opacity: 80%;
  font-family: 'Poppins', sans-serif;
  color: #3D3D3D;
  letter-spacing: 3px;
  word-spacing: 3px; }

.trabajemos__banner {
  display: flex;
  justify-content: center; }
  .trabajemos__banner a {
    font-family: 'Reenie Beanie';
    text-decoration: none;
    font-size: 50px;
    color: #838e83; }

@media only screen and (max-width: 400px) {
  .trabajemos__container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .trabajemos__container img {
      margin-top: 10px;
      margin-bottom: 10px; }
    .trabajemos__container .carrousel__backround {
      font-size: 20px;
      background-image: url(../multimedia/musas-inspiradoras.jpg);
      color: #3D3D3D;
      text-align: center;
      padding: 10px;
      opacity: 90%;
      font-weight: 100; }
  .trabajos__carrousel {
    display: none; } }

@media only screen and (min-width: 500px) {
  .trabajemos__container {
    display: none; } }

.sobremi__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px; }
  .sobremi__contenedor .derecha {
    flex-direction: row-reverse; }
  .sobremi__contenedor p {
    margin: 30px;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
    color: #838e83; }
  .sobremi__contenedor .sobremi__img {
    width: 500px;
    margin: 30px; }
  .sobremi__contenedor .sobremi__img1 {
    width: 400px;
    margin: 30px; }

@media only screen and (max-width: 450px) {
  .sobremi__contenedor {
    display: flex;
    flex-direction: column; }
  .sobremi__img {
    width: 400px; } }
