.texto__comun{
    @extend %textoComun;
}
.texto__resaltado{
    @extend %textoResaltado,
}
.contacto__main{
    background-image:url(../multimedia/fondo-contacto.jpg);
    background-size:auto;
    margin-bottom: 0px;
    height: 100vh;
}

.contacto__container__padre{ 
    display: flex;
    flex-direction:row;
    justify-content: center;
    .contacto__container__hijo{
    background-color: #EBD8D0;
    width: 60%;
    padding: 30px;  
    margin-top: 50px;
        div{
        padding-top: 10px;
            h4{
            text-align: center;
            padding: 10px;

            }
           
    
    }
    }
}