
%textoComun{
        font-family: 'Poppins', sans-serif;
        color: #3D3D3D;
        letter-spacing: 3px;
        word-spacing: 3px;
}

%textoResaltado{ 
        font-family: 'Roboto', sans-serif;
        color: #3D3D3D;
        letter-spacing: 3px;
        word-spacing: 3px;
}    
