*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto&display=swap');
nav{
    background-color: $colorGeneral;
    div{
    @extend %marginDe15;
    }

}

.nav__H1{
    font-family: Roboto, sans-serif;
    color: $colorTextos1;
    font-size: 60px;
    letter-spacing: 8px;
    padding: 30px;
    text-decoration: none;
    &:hover{
    color: $colorTextos2;
    }
    @media only screen and (max-width:400px){
        font-size: 40px;
        padding: 20px;
    }
 
  
}
.nav-item{
    margin-left: 10px;
    margin-right: 10px;
    .nav-link{
    text-decoration: none;
    color: $colorTextos1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 6px;
        :hover{
        color:black;
         }
    }
}

.active {
    text-decoration:none;
    color:$colorTextos1; 
    font-family: 'Roboto', sans-serif;
    height: auto;
    font-weight: 500;
    border: solid $colorTextos1; 
    letter-spacing: 6px;
    a{
    text-decoration:none;
    color: $colorTextos1; 
    }

}


body{
    min-height: 100vh;
}

.texto__comun{ 
        font-family: 'Poppins', sans-serif;
        color: #3D3D3D;
        letter-spacing: 3px;
        word-spacing: 3px;
 }
.texto__resaltado{ 
        font-family: 'Roboto', sans-serif;
        color: #3D3D3D;
        letter-spacing: 3px;
        word-spacing: 3px;
 }


main{
    background-color: white;
    margin-bottom: 10%;
}
.main__{
    margin-bottom: 0px;
}
footer{
    background-color: #838e83;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    h5{
    color:black;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif; 
    word-spacing: 4px;
    font-size: 14px;
    }
    .footer__logoinstagram{
    height: 30px;
    margin: 10px;
    }
    
}
  

    
