.home__container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.home__img-flex{
    width: 25%;
    margin: 10px;
}
.container-fluid{
    background-image: url(../multimedia/fondo-contacto.jpg);
    background-size: cover;
    z-index: 100;
}

.card{
    display: flex;
    margin: 10px;
    width: 20%;
}