.index__H1{
    position: fixed;
    left: 80px;
    top: 10px;
    font-family: 'Roboto', sans-serif;
    color: #EBD8D0;
    font-size: 150px;
    letter-spacing: 55px;
    text-align: center;
    z-index: 10;
    
}
.index__boton{
    @extend %boton;
    font-size: 40px;
    position: fixed;
    right: 100px;
    top: 300px;
    &:hover{
    transform: scale(1.1);
    transition: 1s;
    color: $colorGeneral;
           
    }
}   
.index__body{
    margin-bottom: 0px;
}

.index-desktop{
    @include mediaQuery ("movile"){
      display: none;   
    }

   
}
.index-movile{
    @include mediaQuery ("movile"){
        display: block;
        img{
         width: 320px;
         }  
        h1{
        font-family: 'Roboto', sans-serif;
        color:#83b8c9;
        font-size: 100px;
        letter-spacing: 15px;    
        } 
        a{
        @extend %boton;
        right: 100px;
        top: 350px;
        font-size: 40px; 
        }
    }    
    @include mediaQuery ("desktop"){
      display: none;   
    }   
}
