.index__H1{
    position: fixed;
    left: 80px;
    top: 10px;
    font-family: 'Roboto', sans-serif;
    color: #EBD8D0;
    font-size: 150px;
    letter-spacing: 55px;
    text-align: center;
    
}
.index__boton{
    width: fit-content;
    padding: 10px;
    background-color:#83b8c9;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; color:whitesmoke;
    font-size: 40px;
    position: fixed;
    right: 100px;
    top: 300px;
    border-style: outset; 

}
.index__img{
    height: 1000px
}

@media only screen and (max-width: 450px){
    .index-desktop{
        display: none;
    }
    .index-movile{
        display: block;
       
    }
    .index__img-movile{
         width: 400px;
    }
    .index__movile-h1{
       font-family: 'Roboto', sans-serif;
        color:#83b8c9;
        font-size: 100px;
        letter-spacing: 15px;
        
       
    }     
    .index__boton{
        width: fit-content;
        padding: 10px;
        background-color:#83b8c9;
        text-decoration: none;
        font-family: 'Roboto', sans-serif; color:whitesmoke;
        font-size: 40px;
        position: fixed;
        right: 100px;
        top: 350px;
        border-style: outset;   
    }  
        
   
}