.sobremi__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
    .derecha{
    flex-direction: row-reverse;
    }
    p{
     margin: 30px;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
    color: $colorTextos1;   
    }  
    .sobremi__img{
        width: 500px;
        margin: 30px;
        
    }
    .sobremi__img1{
        width: 400px ;
        margin: 30px;
    }
}
@media only screen and (max-width: 900px){ 
    .sobremi__contenedor{
        display: flex;
        flex-direction: column;
        div{
        .sobremi__img{
        width: 350px;
        }
        }
    }
   
    p{
        text-align: center;
    }
 }
    