.carrousel__backround{
    background-color:#EBD8D0;
    opacity: 80%;
    font-family: 'Poppins', sans-serif; 
    color: #3D3D3D;
    letter-spacing: 3px;
    word-spacing: 3px;
}
.trabajemos__banner{
    display: flex;
    justify-content: center;
    a{
        font-family: 'Reenie Beanie';
        text-decoration: none;
        font-size: 50px;
        color: $colorSecundario;
    }
}

@media only screen and (max-width:400px){
.trabajemos__container{
 display: flex;
flex-direction: column;
justify-content: center;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .carrousel__backround{
        font-size: 20px;
        background-image: url(../multimedia/musas-inspiradoras.jpg);
        color: $colorTextos2;
        text-align: center;
        padding: 10px;
        opacity: 90%;
        font-weight: 100;
        
      
        
        
        
    }
}
.trabajos__carrousel{        
    display: none;
       
    }
    
}

@media only screen and (min-width:500px){
.trabajemos__container{ 
    display: none;
    
}
}


