.carrousel__backround{
    background-color:#EBD8D0;
    opacity: 80%;
    font-family: 'Poppins', sans-serif; 
    color: #3D3D3D;
    letter-spacing: 3px;
    word-spacing: 3px;
}
.trabajemos__banner{
    background-color: #EBD8D0;
    display: flex;
}