*{
    margin: 0;
    padding: 0;
}

header{
    background-color:  #F3F5F6;
    height: 25%;
  
}
.nav__H1{
    font-family: 'Roboto', sans-serif;
    color: #3D3D3D;
    font-size: 60px;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 10px;
    letter-spacing: 8px;
    
    
}
.nav__lista{
    display:flex;
    list-style: none;
    height: 70px;
    align-items: center;
    justify-content: space-between;
  
}
.nav__lista__item a {
    text-decoration: none;
    color: #3D3D3D;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0px 30px 30px 30px;
    padding: 10px;
    letter-spacing: 6px;
}

.nav__lista__item__activo{
    text-decoration: none;
    color: #838e83; 
    font-family: 'Roboto', sans-serif;
    margin: 0px 30px;
    height: auto;
    font-weight: 500;
    border: solid #838e83; 
    letter-spacing: 6px;
}
.nav__lista__item__activo a{
    text-decoration:none;
    color: #838e83; 
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    
}
/*AQUI EMPECE A PROBAR BOOTSTRAP EN EL NAV */
.navbar-nav{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    text-decoration: none;
    color: #3D3D3D;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 6px;
}
.activo {
    text-decoration:none;
    color: #838e83; 
    font-family: 'Roboto', sans-serif;
    height: auto;
    font-weight: 500;
    border: solid #838e83; 
    letter-spacing: 6px;
}


body{
    min-height: 100vh;
}
/*Main ordenados por html*/
.texto__comun{
    font-family: 'Poppins', sans-serif; font-family: 'Roboto', sans-serif;
    color: #3D3D3D;
    letter-spacing: 3px;
    word-spacing: 3px;
   }
.texto__resaltado{
    font-family: 'Poppins', sans-serif; font-family: 'Roboto', sans-serif;
    color: #3D3D3D;
    letter-spacing: 3px;
    word-spacing: 3px;
}

main{
    background-color: white;
    margin-bottom: 10%;
}
/*HOME*/
.home__container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.home__img-flex{
    width: 25%;
    margin: 10px;
}
.musas__inspiradoras{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: solid 2px #3D3D3D;

}  
.musas__inspiradoras h4{
    width: fit-content;
    padding: 5px;
    background-color:#83b8c9;
    font-family: 'Roboto', sans-serif; color:whitesmoke;
    font-size: 40px;
    height: 50px;
    margin: 10px;

} 

.card{
    display: flex;
    margin: 10px;
    width: 20%;
}
    



/*SOBRE MI*/
.sobremi__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.derecha{
    flex-direction: row-reverse;
}

.sobremi__contenedor p{
    margin: 30px;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
    color: #838e83;
}

.sobremi__img{
    width: 500px;
    margin: 30px;
    
}
.sobremi__img1{
    width: 400px ;
    margin: 30px;
}


/*PORTFOLIO */ 
.grilla{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 250px 400px 250px 250px;
    gap: 30px;
    justify-content: center;
    height: 100%;
  
}
.grilla__item{
    display: flex;
    padding: 10px;
    justify-content: center;
}
.grilla__item:hover {
    transform: scale(1.3);
    transition: 0.8s;
   
}
.item1{
    grid-row: span 2;
}
.item5{
    grid-column: span 2;
}
@media only screen and (max-width: 400px) {
.grilla{
    display:block;
    
}   
.grilla__item img{
    height: 300px;
}
header{
    width: 100vw;
    
}
footer{
    width: 100vw;
} 
}
  

/*TRABAJOS*/  
.carrousel__backround{
    background-color:#EBD8D0;
    opacity: 80%;
    font-family: 'Poppins', sans-serif; font-family: 'Roboto', sans-serif;
    color: #3D3D3D;
    letter-spacing: 3px;
    word-spacing: 3px;
}
.trabajemos__banner{
    background-color: #EBD8D0;
    display: flex;
}

/*CONTACTO*/
.contacto__container{
    display: flex;
    align-items: center;

}
.contacto__img{
    width: 40%;
    margin: 30px;
}
.contacto__section__form{ 
    display: flex;
    background-color: #EBD8D0;
    width: 30%;
    margin: 30px;
    height: 300px;
 

}
/*INDEX*/
.index__H1{
    position: fixed;
    left: 80px;
    top: 10px;
    font-family: 'Roboto', sans-serif;
    color: #EBD8D0;
    font-size: 150px;
    letter-spacing: 55px;
    text-align: center;
    
}
.index__boton{
    width: fit-content;
    padding: 10px;
    background-color:#83b8c9;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; color:whitesmoke;
    font-size: 40px;
    position: fixed;
    right: 100px;
    top: 300px;
    border-style: outset; 

}
.index__img{
    height: 1000px
/*la voy a acomodar con flexbox*/



}

/*footer*/
footer{
    background-color: #838e83;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
 }
  
h5{
    color:black;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif; font-family: 'Roboto', sans-serif;
    word-spacing: 4px 
}
    
.footer__logoinstagram{
    height: 30px;
    margin: 10px;
    
}